/* --- filters form --- */

form#filters {
    font-size: 1em;
    position: relative;
    border-radius: 5px;
    background: #e9eff1;
    border: 1px solid #dbe3e5;
    padding: 1.2em 1em 1.4em 1em;
}

body.template-admin form#filters {
    margin-top: 1.25em;
}

form#filters select,
form#filters .changelog-datepicker {
    border: 1px solid #dbe3e5;
    border-radius: 3px;
    padding: 5px;
}

form#filters .changelog-datepicker {
    padding: 6px 5px;
}

form#filters select.disabled,
form#filters .changelog-datepicker.disabled {
    opacity: 0.5;
}

#ui-datepicker-div {
    font-size: 12px;
    line-height: 14px;
}

/* --- changelog table --- */

table.changelog em {
    color: #bbb;
}

table.changelog strong {
    color: #fff;
    padding: 0 5px;
    margin: 0 3px 0 0;
    border-radius: 3px;
    background: #6195ba;
    display: inline-block;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

table.changelog strong.template {
    background: #dd2680;
}

table.changelog strong.deleted {
    color: #c0c0c0;
    text-shadow: none;
    background: transparent;
}

table.changelog b.icon {
    width: 10px;
    height: 10px;
    cursor: help;
    margin-left: 0.3em;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('img/icons.png');
}

table.changelog b.icon.system {
    background-position: 0 0;
}

table.changelog small {
    font-size: 0.65em;
}

table.changelog tr {
    line-height: 2em;
    display: table-row;
}

table.changelog tr.open td {
    border-bottom: 0;
}

table.changelog tr.more tr {
    line-height: 1.75em;
}

table.changelog tr.more td {
    border: 0;
}

table.changelog tr.more div {
    color: #6195ba;
    font-size: 0.85em;
    border-radius: 5px;
    border: 1px solid #dbe3e5;
    padding: 8px 10px 14px 55px;
    text-shadow: 1px 1px 0 #f1f8fa;
    background: url('img/desktop.png') 10px 10px no-repeat #e9eff1;
}

table.changelog tr.more:hover td,
table.changelog tr.more:hover th {
    background: transparent;
}

table.changelog tr.more:hover div tr td,
table.changelog tr.more:hover div tr th {
    background: #e9eff1;
}

table.changelog tr#device-type td:first-letter {
    text-transform: uppercase;
}

table.changelog tr.more.icon-added div { background-image: url('img/added.png'); }
table.changelog tr.more.icon-moved div { background-image: url('img/moved.png'); }
table.changelog tr.more.icon-edited div { background-image: url('img/edited.png'); }
table.changelog tr.more.icon-trashed div { background-image: url('img/trashed.png'); }
table.changelog tr.more.icon-renamed div { background-image: url('img/renamed.png'); }
table.changelog tr.more.icon-deleted div { background-image: url('img/deleted.png'); }
table.changelog tr.more.icon-restored div { background-image: url('img/restored.png'); }
table.changelog tr.more.icon-published div { background-image: url('img/published.png'); }
table.changelog tr.more.icon-unpublished div { background-image: url('img/unpublished.png'); }

table.changelog tr.more table {
    margin: 0;
    display: table;
}

table.changelog tr.more table th,
table.changelog tr.more table td {
    padding-right: 20px;
    border-bottom: 0;
    font-size: 1em;
}

table.changelog tr.more table th {
    color: #777 !important;
    text-decoration: none;
    cursor: auto;
}

table.changelog a.remove,
table.changelog a.edit {
    visibility: hidden;
}

table.changelog tr:hover a.remove,
table.changelog tr:hover a.edit {
    visibility: visible;
    opacity: 0.33;
}

table.changelog tr.open a.remove,
table.changelog tr a.remove:hover,
table.changelog tr.open a.edit,
table.changelog tr a.edit:hover {
    visibility: visible;
    opacity: 1;
}

table.changelog span {
    display: none;
}

/* --- misc --- */

ul.MarkupPagerNavCustom li.MarkupPagerNavSeparator,
ul.MarkupPagerNavCustom li a {
    margin-right: 3px;
}

#translations {
    display: none;
}