/* --- filters form --- */

form#filters .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -.5rem;
}

form#filters .filter,
form#filters .filter-label {
    margin: .25rem .5rem;
}

form#filters .filter-spacer {
    margin: .25rem 0;
}

form#filters select:focus {
    outline: .125rem solid #326dca;
}

form#filters select,
form#filters .log-datepicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    position: relative;
    padding: .5em 2.25rem .5rem 1rem !important;
    cursor: pointer;
}

form#filters select::-ms-expand {
    display: none;
}

form#filters .filter[disabled] {
    opacity: .5;
}

form#filters .filter[disabled] input {
    cursor: default;
}

form#filters .filter {
    display: flex;
    align-items: center;
    border-radius: 2px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .25);
    background: #fafafa;
    background: linear-gradient(to bottom, #fafafa, #fff);
}

form#filters .filter:not(.no-icon) .icon--after::before {
    position: absolute;
    right: 0;
    top: .5rem;
    font-family: FontAwesome;
    content: '\f0d7';
    padding-right: 1rem;
    pointer-events: none;
}

#ui-datepicker-div {
    font-size: 12px;
    line-height: 14px;
}

/* --- log table --- */

table.log .page,
table.log a.tag,
table.log a.tag:hover,
table.log strong {
    color: #fff;
    padding: 4px 10px;
    margin: 0 2px 0 0;
    border-radius: 2px;
    font-weight: normal;
    background: #0277c8;
    display: inline-block;
    transition: background-color .2s;
}

table.log .page {
    color: #333;
    background: #f0f3f7;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .25);
}

table.log a.tag .icon::before {
    font-family: FontAwesome;
    display: inline-block;
    opacity: .6;
    width: 1.2em;
}

table.log a.tag.selected .icon::before {
    content: '\f046';
}

table.log a.tag:not(.selected) .icon::before {
    content: '\f096';
}

table.log a.tag:hover {
    background: #026bb6;
}

table.log span:not(.visual-label):not(.visually-hidden) {
    padding: 4px 10px;
}

table.log a.tag.template,
table.log strong.template {
    background: #dd2680;
}

table.log strong.deleted {
    color: #c0c0c0;
    text-shadow: none;
    background: transparent;
}

table.log tr {
    line-height: 2em;
    display: table-row;
    border-bottom: 1px solid #eaf0f2;
}

table.log tr td,
table.log tr th {
    border: 0 !important;
    vertical-align: middle;
}

table.log tr th:last-child {
    width: 100px;
}

table.log tr th:focus {
    outline: .125rem solid #326dca;
}

table.AdminDataList.log tr td .user {
    font-weight: normal;
}

table.AdminDataList.log tr td .user .icon::before {
    font-family: FontAwesome;
    padding-right: .5em;
}

table.AdminDataList.log tr td .user .icon::before {
    content: '\f007';
}

table.AdminDataList.log tr td .user.deleted .icon::before {
    content: '\f235';
    color: #8a8a8a;
}

table.AdminDataList.log tr td .user.guest .icon::before {
    content: '\f21b';
    color: #8a8a8a;
}

table.log tr.open td {
    border-bottom: 0;
}

table.log a.more {
    cursor: pointer;
}

table.log a.more:hover .icon {
    display: inline-block;
}

table.log a.more .icon::after {
    font-family: FontAwesome;
    content: '\f107';
}

table.log tr.open a.more .icon::after {
    font-family: FontAwesome;
    content: '\f106';
}

table.log tr.more tr {
    line-height: 1.75em;
}

table.log tr.more td {
    border: 0;
}

table.log tr.more > td {
    padding: 0;
}

table.log tr.more div {
    margin: 1em 0;
    color: #2f4248;
    font-size: .85em;
    border-radius: 2px;
    position: relative;
    background: #e9eff1;
    border: 1px solid #d7e2e6;
    padding: 1.25em 1em 1.25em 6em;
}

table.log tr.more:hover td,
table.log tr.more:hover th {
    background: transparent;
}

table.log .details-table > .icon {
    position: absolute;
    left: .5rem;
}

table.log .details-table > .icon::before {
    top: .5em;
    left: .5em;
    color: #2f4248;
    font-size: 3em;
    content: '\f040';
    position: absolute;
    font-family: FontAwesome;
}

table.log .details-table.icon-added > .icon::before {
    content: '\f067';
}

table.log .details-table.icon-moved > .icon::before {
    content: '\f0b2';
}

table.log .details-table.icon-trashed > .icon::before {
    content: '\f014';
}

table.log .details-table.icon-renamed > .icon::before {
    content: '\f1dc';
}

table.log .details-table.icon-deleted > .icon::before {
    content: '\f12d';
}

table.log .details-table.icon-restored > .icon::before {
    content: '\f0e2';
}

table.log .details-table.icon-published > .icon::before {
    content: '\f135';
}

table.log .details-table.icon-unpublished > .icon::before {
    content: '\f05e';
}

table.log tr.more table {
    margin: 0;
    width: 100%;
    display: table;
}

table.log tr.more table tr {
    border-bottom: 1px solid #dcdfe0;
}

table.log tr.more table tr:last-child {
    border-bottom: 0;
}

table.log tr.more table th,
table.log tr.more table td {
    padding: .5em 1em;
    border-bottom: 0;
    font-size: 1em;
}

table.log tr.more table th {
    color: #777 !important;
    text-decoration: none;
    cursor: auto;
    width: 20%;
}

table.log tr.more table th::after {
    content: '';
}

table.log thead th:nth-last-child(2),
table.log a.action:not(.selected) {
    visibility: hidden;
}

@media only screen and (max-width: 767px) {
    table.AdminDataTableResponsive.log thead th:nth-child(4),
    table.AdminDataTableResponsive.log a.action {
        visibility: visible;
        display: inline-block;
    }

    table.AdminDataTableResponsive.log a.tag,
    table.AdminDataTableResponsive.log strong {
        margin-bottom: 4px;
    }
}

table.log tr:hover a.action:not(.selected),
table.log tr:focus-within a.action:not(.selected) {
    visibility: visible;
}

/* --- misc --- */

.content .MarkupPagerNavCustom li.MarkupPagerNavSeparator,
.content .MarkupPagerNavCustom li a {
    margin-right: 3px;
}

#info h2 i {
    font-size: 1em !important;
    margin-left: .5em;
}

#feeds {
    padding-left: 0;
}

#feeds li {
    display: inline-block;
    margin-right: 1em;
}

#feeds li:not(:last-child)::after {
    content: '';
    border-right: .0625rem solid currentColor;
    margin-left: 1rem;
    opacity: .25;
}

#feeds li:last-child {
    margin-right: 0;
}

#feeds a::before {
    font-family: FontAwesome;
    padding: 0 .5em 0 0;
    content: '\f09e';
}

form#filters i,
table.log i {
    font-style: normal;
    display: inline-block;
}

form#filters .js-icon,
table.log .js-icon {
    display: none;
}

form#filters .visually-hidden,
table.log .visually-hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
